* {
  padding: 0;
  margin: 0;
}

html, body{
  width: 100%;
  height: 100%;
  font-family: 微软雅黑;
}
a:link, 
a:visited { 
    text-decoration: none; 
    color: black;
} 
a:hover, 
a:active { 
color:darkgoldenrod;
text-decoration:none; 
    cursor: default;
} 
a:link{
    text-decoration: none;
}
body {
  font-family: 'Microsoft Yahei';
  background: white;
  font-size: 14px; 
}

.header{
    width: auto;
    height:78px; 
}
.head-rgh{
    color:black; 
    float: right;
    margin-top: -8px;
    padding-top: 14px;
    padding-right: 30px;
  
}
.head-lef{
     color:black; 
   float: left;
    margin-top: -8px;
      padding-top: 14px;
    padding-left: 20px;
    z-index: 40;
}
.header-Con{
    width: 980px;
    height: 78px;
}
.logo{
    z-index: 10;
    height: 105px;
    width: 220px;
    margin-top: 22px;
    margin-left: -20px;
}
.word{
    font-family: 华文彩云;
    font-size: 18px;
    color: #dcb02a;
    margin-left: 22%;
    
}
.search{
  width: 372px;
    height: 35px; 
    margin-left: 38%;
    border:1px solid #dcb02a;
}

.search .inp{
    width: 303px;
    height: 30px;
    padding-left: 5px;
    padding-top: 4px;
    float: left;
}
.search .inp input{
    border: none;
    outline: none;
    width: 295px;
    height: 27px;
    font-size: 16px;
 
    padding-left: 2px;
    
}
.searchbutton{
     width:68px;
  height: 36px;
    border: none;
    background-color: #dcb02a;
    color: antiquewhite;
    font-size: 14px;
    margin-top: 36px; 
    
   
}
.sousuo{
     margin-left: 82%;
   margin-top: -36px; 
    
}
.gouwuche{
 margin-top: -3%;
    margin-left: 70%;
    
}
.gouwuche .gowuim{
    width: 50px;
    height: 45px;
    
}
.gowwuword{
   font-family: 华文彩云;
    font-size: 18px;
    color: #dcb02a;
    margin-left: 18%;
    margin-top: -9%;
    cursor: default;
}
.jiangim{
    width: 55px;
    height: 55px;
   margin-left: 40%;
    margin-top: -9%;  
}
.jiangword{
    font-family: 华文彩云;
    font-size: 18px;
    color: #dcb02a;
    margin-left: 60%;
    margin-top: -10%;
    cursor: default;
    
}
.nave{
background-color: black;
    height: 40px;
    width: auto;
    margin-top: 2%;
}
 #nav,#nav ul {
    list-style: none;
    margin: 0;
    padding: 2px;
     z-index:120;
}
#nav {
    font-family: 微软雅黑;
    font-size: 16px;
    height: 42px;
    list-style: none outside none;
    margin-left: 38%;;
    width: 743px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  
}

#nav li {
  
    border-left: 1px solid #929292;
    border-right: 1px solid #5d5d5d;
    border-top: 1px solid #797979;
    display: block;
    float: left;
    height: 34px;
    position: relative;
    width: 104px;
    z-index:120;
}
#nav li:first-child a{
    border-left: 0 none;
    margin-left: 1px;
    height: 40px;
    margin-top: -3%;
background-color: #ffc001;
}

#nav li a {
    color: #ffffff;
    display: block;
    line-height: 34px;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    background-color: black;

    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
  
}
#nav ul a:hover{ 
 background-color:#dcb02a; 
 color: whitesmoke;
    z-index:120;
} 
#nav li a:hover{ 
 background-color:#ffc001; 
 color: whitesmoke;
    z-index:100;
} 
#nav li:hover ul {
    left: 0;
    top: 34px;
    width: 105px;
}
#nav ul {
    left: -9999px;
    position: absolute;
    top: 100px;
    z-index: 2;
}
#nav ul li {
    background: none repeat scroll 0 0 #838383;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* keyframes #animation */
@-webkit-keyframes animation {
    0% {
        -webkit-transform: scale(1);
    }
    30% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1.1);
    }
}
@-moz-keyframes animation {
    0% {
        -moz-transform: scale(1);
    }
    30% {
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1.1);
    }
}
#nav li a:hover {
    /* CSS3 animation */
    -webkit-animation-name: animation;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: animation;
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
    
.shangp{
    background-color: #ffc001;
    width: 16%;
    height:40px;
    margin-top: -3%;
    margin-left: 8%;
    position: absolute;
}

.tiao{
    font-size: 18px;
   color:whitesmoke;
    font-family:微软雅黑;   
    position:relative;
   top:-6px;
    margin-left: 20px;
    
}
.tiao a:link{
    color: white;
}
.dao{
   position:relative;
    margin-top: 8px;
    margin-left: 30px;
}
.di{
    background-color:beige;
    height: 30px;
}
.d1{
   margin-left: 20%;
line-height: 30px;
    font-size: 16px;
}
.d2{
    color: chocolate;
    font-size: 18px;
    padding-left: 10px;
}
/*相关样式*/
#showbox { 
    background:#eee;
    margin-top: 8%;
    margin-left: -26%;
}
/*#showbox span { background:url(../images/whitebg.png) repeat;}*/
#showsum {
    margin-left: -22%;
    margin-top:18px;
    margin-bottom: 18px;
    
}
#showsum span {
    border:1px solid #ddd;
}
#showsum span.sel { 
    border:1px solid #f60;
}

.showpage { 
    width:400px; 
    position:relative;
    top:-18px;
    left: -26%;
}
.showpage a { 
    display:block; 
    width:15px; 
    border:1px solid #ddd; 
    height:60px;
    line-height:60px; 
    background:#eee; 
    text-align:center;
    font-size:18px; 
    position:absolute; 
    left:0; 
    top:-62px; 
    text-decoration:none;
    color:#999;
}
.showpage a#shownext {
    left:auto;
    right:0;
}
.showpage a:hover {
    background:#ccc; 
    color:#777;
}
.miaoshu{
    height: 400px;
    width: 40%;
    margin-left: 48%;
    margin-top: -34%;
}

.m1{
  font-size: 22px;  
}
.m2{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f94141;
}
.m3{
   background-color: #f7e07c;
 height: 80px;
    width:
}
.m3 span{
    padding-left: 
}
.m3-1{
    font-size: 18px;
    top: 20%;
    margin-left: 10%;
    line-height: 10px;
}
.m3-2{
   font-family: fantasy;
    color: #f94141;
    font-size: 30px;
    margin-top: 10px;
    
}
.m31{
    margin-left: 10%;
   margin-top: 2%;
     font-size: 18px;
}
.m4{
    font-size: 18px;
    margin-top: 3%;
    margin-left: 10%;
     
}
.m4 input{
    height: 30px;
}
#sus{
   height: 30px;
    line-height: 20px;
    width:30px;
    background-color: white;
   
     border:1px solid #ddd;
    z-index: -20; 
}
#add{
    height: 30px;
    line-height: 20px;
    width:30px;
    background-color: white;
   
     border:1px solid #ddd;
    z-index: -20; 
}
.sdsd{
    margin-top: 4%;
    font-size: 20px;
    margin-left: 50%;
}

.tt{
   
   margin-left: 16%; 
    width: 70%;
    border:none;
    height: 30px;
    
}
.m6{
  margin-top: 3%;  
    margin-left: 10%;
    
}
.m6 input{
    height: 40px;
    width: 40%;
    background-color:#f94141;
    font-size: 24px;
    border: none;
}
.m7{
    margin-top: -7.5%;  
    margin-left: 50%; 
    margin-bottom: 10px;
}
.m7 input{
     height: 40px;
    width: 74%;
    background-color:#f94141;
    font-size: 24px;
    border: none;
}
.m7 img{
    width:40px;
    height: 38px;
    position: absolute;
    left:83%;
}
.m8{
  margin-left: 40%; 
  color:  #f7e07c;
    font-size: 18px;
}
.time{
  font-size: 18px;
    margin-top: 3%;
    margin-left: 10%;  
}

.time select{
    height:30px;
    
}
.sum{
    margin-left: 20%;
    margin-top: 12%;
   
}

a{ color:#333; text-decoration:none;}
p,p a{
    font-size:12px;color:white;}
.tuijian{
   font-size: 19px;
    background-color:beige;
    margin-top: 6%;
}
.tword{
      font-family: 华文彩云;
    font-size: 20px;
    color: #ffc001;
    margin-left: 12%;
    line-height: 35px;
}
/* image-slider */
.image-slider{
    width:1200px;
    height:280px;
   margin-left: 5%;
    margin-top: 2%;
  background-color: #f7e07c;
    padding:14px 16px 0px 16px;position:relative;
}
.image-slider-back, .image-slider-forward{
float:left;
width:23px;
height:98px;
    color:White;
    position:relative;
    top:32px;
    cursor:pointer;}
.image-slider-back{
    margin-left: 1%;;
    background-image:url(../images/arrow-left.png);
    background-repeat:no-repeat;
    background-position:left;}
.image-slider-forward{
    background-image:url(../images/arrow-right.png);
    background-repeat:no-repeat;
    background-position:right;
left: 10%;
}
.image-slider-contents{
width:84%;
    height:94%;
    float:left;
    position:relative;
    left:4%;
    overflow:hidden;
}

.image-slider-contents .contents-wrapper{
    position:absolute;
    padding-top:10px;
    left:0;
}
.image-slider-contents .outer{
    background-color:#fff;
    float:left;
    padding-left: 20px;
    padding-right: 30px;
    width:200px;
    height:300px;
    cursor:pointer; 
    position:relative;
}
.spic{ 
    width: 200px;
    height: 200px; 
    text-align: center;
    color: #333; 
    float: left; 
    padding-top: 20px;
    overflow: hidden;
}
.image-slider-contents img{
    width:200px;
    height:200px; 

}
.spic a{ 
    color: black;
    top:40%;
    z-index: 2000;
    display:block; 
    text-align:center;
}

.preview{ 
    margin-top: -25%;
    margin-left: -2%;
    position: absolute; width: 450px; height: auto; background-color: White; padding-top: 20px; padding-right: 20px; padding-left: 20px; padding-bottom: 20px; border: solid 1px black;
}
.preview .img-large{
    width:330px;
    z-index:1000; 
    margin:0 auto;
}
.preview .img-large .left{
 position:absolute;
    left:8px;
    top:160px;
    width:16px;
    height:24px;
    z-index:1000;
    background:url(../images/arrow-left.png);
    cursor:pointer;
}
.preview .img-large .right{
    position:absolute;
    left:428px;
    top:160px;
    z-index:1000;
    width:16px;
    height:24px;
    background:url(../images/arrow-right.png);
    cursor:pointer;
}
.preview .close{
position:absolute;
    left:434px;
    top:-16px;
    width:32px;
    height:34px;
    background:url(../images/close.png);
    float:right;
    cursor:pointer;
    z-index:2000;}
.preview .img-large img{
    width:330px;
    height:330px;
}
.preview .label{
    width:434px;
    line-height:30px;
    float:left;
    position:absolute;
    top:316px;
    left:0;
    padding:8px;
    background-color:White;
    text-align:left;
    font-weight:bold;
    font-size:13px; 
    text-align:center;
}
.outer{
    width: 200px;
    height: 300px;
    border:solid 1px black;
}




























.footer{
    height: 60%;
    width: auto;
    background-color: #37322c;
    margin-top: 10%;
  
}
.wen{
  color: white;
    font-family: 微软雅黑;
    font-size: 16px;
    margin-left: 34%;
    line-height: 40px;
}
.sos{
    width: 38%;
    height: 35px; 
    margin-left: 30%;
    border:1px solid #dcb02a; 
    
}

.sos .sinp{
     width: 84.5%;
    height: 30px;
    padding-left: 5px;
    padding-top: 4px;
    float: left;
    
}
.sos .sinp input{
    border: none;
    outline: none;
    width: 295px;
    height: 27px;
    font-size: 16px;
    padding-left: 2px;
    background-color: #37322c;
    
}
.sub{
    width:74px;
  height: 36px;
    border: none;
    background-color: #dcb02a;
    color: antiquewhite;
    font-size: 14px;
}
.guanjian{
    color: white;
    font-family: 18px;
    margin-left: 35%;
    margin-top: 1%;
}
.ban{
    margin-left: 35%;
    
}

.santu{
    margin-left: 24%;
    margin-top:2%;
    color: white;
    font-size: 16px;
    opacity: 0.3;
    
}
.santu img{
   width: 60px;
    height: 60px;
}
.santu1{
    
}
.santu2{
    margin-left: 29%;
    margin-top: -8%;
}

.santu3{
     margin-left: 60%;
    margin-top: -8%;
    
}
#banquan{
   color: white;
    font-family: 18px;
 position: absolute;
    left: 20%;
    
}



































